body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 14pt;
    color: #111111;
}

a {
    text-decoration: none;
}

ul {
    list-style: square inside;
}

blockquote {
    border-left: 0.4em solid #282a36;
    margin: 0pt;
    margin-bottom: 1em;
    padding: 10pt 10pt 10pt 20pt;
    background-color: aliceblue;
    border-radius: 3pt;
}

blockquote p {
    margin-bottom: 0pt;
}

.nav-bar {
    border-bottom: 1px solid #e8e8e8;
    min-height: 40pt;
    margin-bottom: 20pt;
}

.nav-bar a {
    line-height: 40pt;
    font-size: 26px;
    letter-spacing: -1px;
    color: #111111;
}

.nav-bar img {
    height: 30pt;
    margin-top: 5pt;
    border-radius: 3pt;
}

.footer {
    text-align: center;
    font-size: 0.9em;
    padding-top: 24pt;
    padding-bottom: 24pt;
}

.separator {
    background-color: #e8e8e8;
    height: 1px;
    margin-top: 12pt;
}

pre {
    padding: 10pt;
    border-radius: 3pt;
}

.chroma {
    font-size: 0.8em;
}


p code, li code {
    background-color: #282a36;
    color: white;
    border-radius: 3pt;
    padding: 2pt 4pt;
    vertical-align: middle;
    font-size: 0.8em;
}

.card {
    border-radius: 3pt;
    overflow: hidden;
    box-shadow: 0pt 0pt 20pt #eee;
    margin-bottom: 20pt;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card h1 {
    font-size: 16pt;
    padding-left: 10pt;
    padding-right: 10pt;
    margin-bottom: 6pt;
}

.card a {
    color: inherit;
}

#more h1 {
    font-size: 16pt;
    margin-top: 8pt;
    margin-bottom: 4pt;
}

@media (max-width : 320pt) {
    .nav-bar a {
        font-size: 14pt;
    }

    .nav-bar img {
        height: 24pt;
        margin-top: 8pt;
    }
}